* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000;
}
.app {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.profile {
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    flex: 0 0 auto;
    border-right: 1px solid #c5c5c5;
}
.section {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    visibility: hidden;
}
.section.active {
    opacity: 1;
    visibility: visible;
    display: flex;
}
.section.view {
    padding-top: 3rem;
}
.profile-header {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 700;
}
.profile-email {
    font-size: 0.8rem;
}
.profile-dropdown {
    cursor: pointer;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.profile-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.profile-avatar {
    width: 95px;
    height: auto;
    aspect-ratio: 1;
    border-radius: 50em;
    background-color: #c5c5c5;
    overflow: hidden;
    border: 3px solid #790024;
}
.profile-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profile-bio {
    text-align: center;
    font-size: 0.75em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
}
.profile-number {
    padding: 0.5rem;
    background: #790024;
    color: #ebc003;
    border-radius: 5px;
}
.profile-stat {
    width: 100%;
    margin-top: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.count {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.count span {
    font-size: 0.8rem;
}
.profile-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.account-info {
    font-size: 0.8rem;
    color: #01a3a3;
    cursor: pointer;
}

.edit-profile {
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #000;
    color: #fff;
    aspect-ratio: 1;
    border-radius: 15px;
}
.feed {
    width: auto;
    min-width: 300px;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    position: relative;
}
header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 1rem;
    position: sticky;
    top: 0;
}
.logo {
    display: flex;
    align-items: center;
    gap: 0.6em;
}
.header-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.main-content {
    width: 100%;
    height: auto;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    padding-top: 0;
}
.user-card {
    width: calc(50% - 0.5rem);
    height: auto;
    padding: 1rem;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    background: #e7e5dd;
    box-shadow: 0 4px 10px #00000013;
}
.card-header {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5em;
}
.user-avatar {
    width: 60px;
    aspect-ratio: 1;
    background: #888888;
    border-radius: 15rem;
    overflow: hidden;
    flex: 0 0 auto;
}
.user-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    flex: 1;
}
.user-bio {
    font-size: 0.7em;
    width: 100%;
    height: 1.7em;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-action {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.action-btn {
    width: 50%;
    padding: 1em 2rem;
    border-radius: 5px;
    border: 1px solid #790024;
    font-weight: 600;
    color: #790024;
    background: transparent;
    cursor: pointer;
}

.action-btn.fill {
    background: #790024;
    color: #fff;
}
.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000013;
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
}
.modal-container.open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.dropdown {
    width: 100%;
    max-width: 360px;
    height: 60dvh;
    background-color: #f8f7f3;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: 0 2px 10px #00000013;
    padding: 1rem;
    gap: 0.7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-20%) translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.15s ease, opacity 0.15s ease;
}
.dropdown.active {
    transform: translateY(-50%) translateX(-50%);
    opacity: 1;
    visibility: visible;
}

.dropdown-header {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dropdown-content {
    width: 100%;
    height: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.dropdown-item, .logout-item {
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #790024;
    border-radius: 25px;
    color: #fff;
}

.dropdown-item span, .logout-item span {
    font-weight: 600;
}

.modal.logout {
    width: 90%;
    max-width: 400px;
    height: 60%;
    background: #f8f7f3;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: 0 2px 10px #00000013;
    padding: 1rem;
    gap: 0.7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-20%) translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: transform 0.15s ease, opacity 0.15s ease;
}

.modal.active {
    transform: translateY(-50%) translateX(-50%);
    opacity: 1;
    visibility: visible;
}
.modal-header {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal-title {
    display: flex;
    align-items: center;
    gap: 0.7rem;
}
.logout-content {
    width: 100%;
    height: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
}
.logout-confirm{
    width: 100%;
    height: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.logout-expression {
    font-size: 3.1rem;
}
.logout-action {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.4rem;
    margin-bottom: 0.7rem;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mailer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0000001e;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.mailer.active {
    display: flex;
}
.mail.modal {
    background: #fff;
    padding: 1em;
    width: 100%;
    max-width: 600px;
    height: 80dvh;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 1em;
    text-align: center;
}

.mail-form {
    width: 100%;
    height: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-bottom: 2em;
}
.mail-form input, .mail-form textarea {
    width: 100%;
    padding: 1em;
    border-radius: 15px;
    background-color: rgba(235, 226, 215, 0.336);
    border: 1px solid #790024;
}
.mail-form textarea {
    height: 200px;
    max-height: 200px;
    resize: none;
    
}
.mail-form button {
    height: auto;
    padding: 1.6em;
    border-radius: 15px;
    background-color: #000000;
    color: #fff;
    font-weight: 600;
    border: none;
    margin-top: auto;
    cursor: pointer;
}
